@import url('https://fonts.googleapis.com/css?family=Audiowide|Cairo|Changa|Josefin+Slab|Orbitron|Permanent+Marker');

body
html
  margin 0
  padding 0
  box-sizing border-box
  font-size 10px

#app
  height 100vh
  width 100vw
  position relative

